* {
     padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
body {
    font-size: 18px;
}
 h2, h3 {
      font-size: 2rem;  
} 
p {
    font-size: 1.1rem;
}
header #mainHeader, #cardLang, #digits, #companyContext, #beAMember, #learnPlay #footerSection {
    width: 80%;
    margin: 0 auto;
}
/*HEADER STYLING  */
header {
    height: 62vh;
    background: url('https://www.sololearn.com/Images/bg.jpg');
    background-position: center;
    background-size: cover;
}
#mainHeader, header a, nav h1 {
    color: #fff;
}
header a.nav-link:hover {
    color: #fff;
    background-color: #1ABC9C;
    border-radius: 5px;
}
#mainHeader a.signIn {
    background-color: #1ABC9C;
    border-radius: 5px;
}
.headingText {
    width: 75%;
    margin-top: 30px;
}
.headingText .middleText {
    padding: 15px 0;
    font-size: 1.2rem;
}
a.nav-link {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 7px 10px;
}
 a.nav-link {
    margin: 0 4px;
} 
nav {
    background-color: transparent;
}
header a.btn-lg {
    background-color: #1ABC9C;
    color: #fff;
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px 50px; 
    font-weight: 600;
    border: 1px solid #1ABC9C;
}
/*CARD LANGUAGE SECTION  */
#cardLanguage {
    min-height: 500px;
}
#cardLang {
    padding: 40px 0;
    text-align: center;
}
 div.cardLan {
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
} 
#cardLang img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 40px;
}
 img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
#cardLang p {
    font-size: 0.9rem;
}
#cardLang a.backgroundChange {
    background-color: #1ABC9C;
    color: #fff;
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px 20px; 
    font-weight: 500;
    border: 1px solid #1ABC9C;
}
#cardLang a.backgroundChange:hover {
    background-color: #17a68a;
    color: #fff;
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px 20px; 
    font-weight: 500;
    border: 1px solid #17a68a;
}
a.viewCourses {
    color: #1ABC9C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: 500;
}
/*ANYTIME SECTION | ANYTIME AREA STYLING  */
#anytimeSection {
    min-height: 400px;
    background: #414e53;
    color: #d6d6d6;
    padding: 35px;
}
.digitColumn {
    display: flex;
    justify-content: center; 
    margin-bottom: 8px;
}
.digitColumn span.numberBold {
   font-size: 2.1rem;
   color: #8bc34a;
   font-weight: 700;
}
.digitColumn p.topText {
   padding: 0 30px 0 0;
   font-size: 1.1rem;
    /* letter-spacing: 1px;  */
}
#digits span.anytime {
   font-size: 24px;
   color: #fff;
   font-weight: 700;
}
#digits p.rightText {
   font-size: 15px;
   color: #d6d6d6;
   margin: 10px 0 0;
}
#digits img {
   width: auto;
}
/* COMPANY STYING | COMPANY SECTION | COMPANY AREA  */
#companySection {
    text-align: center;
    min-height: 450px;
    padding: 35px 0;
}
#companySection .numberBold {
    font-weight: 700;
    font-size: 1.6rem;
}
#companySection a {
    color: #484848;
}
#companySection a:hover {
    color: #1ABC9C;
}
#companyContext .card:hover {
    border: 1.5px solid #1ABC9C;
    /* border-radius: none; */
}
#companyContext .card-text {
    font-size: 0.9rem;
    /* text-align: left; */
}
.icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.icons i {
    margin: 0 20px 0 0;
}
.companyBottom h5, .companyBottom p {
    font-size: 0.9rem;
}
.companyBottom img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 20px 0;
}
/* MEMBER STYING | MEMBER SECTION | MEMBER AREA  */

