* {
     padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

header {
    height: 62vh;
    background: url('https://www.sololearn.com/Images/bg.jpg');
    background-position: center;
    background-size: cover;
}

nav {
    background-color: transparent;
}
